{% extends 'base.html.twig' %}

{% block title %}Hello PratoController!{% endblock %}

{% block body %}
<br/>
<div class="container">
    <h2>Novo Prato</h2>
    <br/>
    {{form(pratoForm)}}
</div>

{% endblock %}
